interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://runthejewels.bandcamp.com/album/run-the-jewels
  response:
    body:
      string: "    \n\n<!DOCTYPE html>\n\n\n\n<html   xmlns:og=\"http://opengraphprotocol.org/schema/\"\n
        \       xmlns:fb=\"http://www.facebook.com/2008/fbml\"\n        lang=\"en\">\n\n<head>\n
        \   <title>Run The Jewels | Run The Jewels</title>\n    \n    \n\n\n\n    <meta
        name=\"description\" content=\"\nRun The Jewels by Run The Jewels, released
        26 June 2013\n\n1. Run The Jewels\n2. Banana Clipper (feat. Big Boi)\n3. 36&amp;quot;
        Chain\n4. DDFH\n5. Sea Legs\n6. Job Well Done (feat. Until the Ribbon Breaks)\n7.
        No Come Down\n8. Get It\n9. Twin Hype Back (feat. Prince Paul)\n10. A Christmas
        Fucking Miracle\n\n\">\n    \n     \n    <link rel=\"shortcut icon\" href=\"https://f4.bcbits.com/img/a0076673999_3.jpg\">\n
        \   <link rel=\"apple-touch-icon\" href=\"https://f4.bcbits.com/img/a0076673999_3.jpg\">\n\n\n<meta
        name=\"msapplication-TileColor\" content=\"#603cba\">\n<meta name=\"theme-color\"
        content=\"#ffffff\">\n\n    \n\n    \n\n    \n    \n        <meta name=\"title\"
        content=\"Run The Jewels, by Run The Jewels\">\n        <meta property=\"og:title\"
        content=\"Run The Jewels, by Run The Jewels\">\n        <meta property=\"og:type\"
        content=\"album\">\n        <meta property=\"og:site_name\" content=\"Run
        The Jewels\">\n        <meta property=\"og:description\" content=\"10 track
        album\">\n        <meta name=\"bc[...]
